p {
    font-family: Roboto, Arial;
    margin-top: 0;
    margin-bottom: 0;
}

.friend-nest {
    width: 200px;
    display: inline-block;
    vertical-align: top;
    margin-right: 15px;
    border: none;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);
}

.friend-pfp {
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: center;
    border-width: 3px;
    border-style: solid;
    border-color: black;
    display: block;
    border: none;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);
}

.username {
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.user-pfp-nest {
    width: 30px;
    height: 30px;
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 10px;
    vertical-align: middle;
}

.mutual-nest {
    display: inline-block;
    font-size: 14px;
    margin-left: 5px;
    margin-bottom: 10px;
    color: rgb(100, 100, 100);
}

.user-pfp {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    object-fit: cover;
    object-position: center;
}

.button-nest {
    display: block;
    margin-left: 10px;
    margin-bottom: 10px;
}

.add-friend {
    background-color: rgb(61, 160, 225);
    border: none;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 4px;
    cursor: pointer;
}


