div {
    text-align: center;
}
  
.thumbnail {
    width: 275px;
    margin-top: 150px;
    margin-bottom: 30px;
}
  
.search-bar {
    border: none;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 16px;
    width: 500px;
    border-radius: 30px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
    margin-bottom: 30px;
}
  
.First-button {
    background-color: rgb(245, 245, 245);
    border: none;
    font-size: 15px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
}
  
.Second-button {
    background-color: rgb(245, 245, 245);
    border: none;
    font-size: 15px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
    margin-left: 15px;
}